.BODY__ELEMENTS___DEMO{
    text-align-last: center;
    padding: 20px;
}
.BODY__ELEMENTS___DEMO button{
    width: 100px;
    height: 60px;
}
#profilepic{
    margin-top: 20px;
    width: 75px;
    height: auto;
    border-radius: 60px;
}
