.BODY__CONTENT___TOPNAV {
    display: flex;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px
}

.BODY__CONTENT___TOPNAV.Light {
}

.BODY__CONTENT___TOPNAV.Dark {
}

#nav-logo{
    padding-right: 10px;
    width: 100px;
    align-self: center;
}



/*SEARCH*/
/* Style the search field */
.SearchBar {
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    align-self: center;
    font-size: 16px;
    border: 1px solid grey;
    background-color: #e2e2e2;
}
