.BODY__CONTENT___TOPNAV {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s linear;
}

.BODY__CONTENT___TOPNAV.Light {
    background-color: var(--background-color--main---light);
    border-bottom: 1px solid var(--background-color--accent2---light);

}

.BODY__CONTENT___TOPNAV.Dark {
    background-color: var(--background-color--main---dark);
    border-bottom: 1px solid var(--background-color--accent2---dark);

}

.BODY__CONTENT___TOPNAV img{
    width: 100%;
    height: 100%;
}

#userProfileImg{
    width: 20px;
    height: 20px;
}

#nav-logo{
    padding-right: 10px;
    width: 100px;
}



/*SEARCH*/
/* Style the search field */
.SearchBar {
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60%;
    align-self: center;
    font-size: 16px;
    border: 1px solid grey;
    background-color: #e2e2e2;
}
